.intro {
  max-width: calc(100% - (148px + 442px));
  margin: 0 442px 0 148px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1124px) {
  .intro {
    max-width: calc(100% - (89px + 245px));
    margin: 0 245px 0 89px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 440px) {
  .intro {
    max-width: calc(100% - 32px);
    margin: 0 16px;
  }
}
